@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	max-width: 100%;
	border: none;
}
a {
	text-decoration: none;
}
body {
	margin: 0;
	padding: 0;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Rubik', sans-serif;
}
.full,section  {
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}
.content {
	position: absolute;
	z-index: 1;
	background: #7fdd95;
	color: #fff;
	bottom: -180px;
	left: 0;
	height: 100%;
	padding: 40px 18px;
	text-align: left;
	font-size: 16px;
	transition: all ease 0.5s;
}
#owl-demo .item:hover .content{bottom:0;}
.owl-prev {
	position: absolute;
	top: 37%;
	right: 0;
}
.owl-next {
	position: absolute;
	top: 37%;
	left: 0;
}
.owl-buttons {
	display: none;
}
.navbar   .nav.navbar-nav.pull-right {
	margin: 10px 0 -20px;
}
.navbar .nav > li > a:hover,.navbar .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #666;
}
.search {
	float: left;
	width: 100%;
	margin: 50px 0 0;
	text-align: center;
}
.form {
	float: left;
	width: 100%;
}
.form strong {
	float: left;
	width: 100%;
	margin: 10px 0 13px;
	font-size: 25px;
	font-weight: 400;
	color: #36c24d;
}
.search_box {
	float: left;
	width: 100%;
	position: relative;
}
.search_box > input[type="text"] {
	float: left;
	width: 100%;
	border: none;
	box-shadow: 0 0 8px #ccc;
	padding: 16px 10px 14px 50px;
	border-radius: 8px;
	background-image: url(../images/srch.png);
	background-repeat: no-repeat;
	background-position: 14px 15px;
}
.search_box > input[type="button"] {
	position: absolute;
	right: 10px;
	top: 8px;
	border-radius: 4px;
	border: none;
	background: #7fdc94;
	color: #000;
	padding: 7px 20px;
}
.custom_container {
	width: 1250px;
	margin: auto;
}
.filter_butoon > button {
	background: #fff;
	border: 1px solid #ddd;
	padding: 11px 20px;
	width: 14.7%;
	border-radius: 4px;
}
.filter_butoon {
	text-align: center;
	margin: 20px 0 50px 0;
	float: left;
	width: 100%;
}
.btm_posts {
	float: left;
	width: 100%;
}
.btm_posts > small {
	float: left;
	width: 100%;
	font-size: 17px;
}
.btm_posts > span {
	float: left;
	width: 100%;
	font-size: 23px;
	margin: 0 0 10px;
}
 
.col_5 {
	float: left;
	width: 20%;
	padding: 0 6px;
	position: relative;
}
.heart1 {
	position: absolute;
	z-index: 1;
	right: 14px;
	top: 3px;
	font-size: 20px;
	color: #fff;
	text-shadow: 0 0 1px #000;
}
.heart1:hover {
	color: #f00;
	text-shadow: 0 0 1px #fff;
}
.carousel-indicators {
	bottom: -3px;
}
.slider_cnt > font {
	float: left;
	width: 100%;
	margin: 6px 0 0;
}
.slider_cnt > span {
	float: left;
	width: 100%;
	margin: 6px 0 0;
}
.slider_cnt > strong {
	float: left;
	width: 100%;
	font-weight: 500;
	color: #36c24d;
}
.slider_cnt {
	margin: 14px 0 0;
	float: left;
	width: 100%;
}
.carousel-control {
	display: none;
}
.carousel.slide:hover .carousel-control {
	display: block;
}
.all_pst {
	float: left;
	width: 100%;
	margin: 0 0 50px;
}
.oft {
	float: left;
	font-size: 19px;
	font-weight: 400;
	text-decoration:none !important;
	color: #36c24d !important;
}
.rite_cnt h3 {
	float: left;
	width: 100%;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 30px;
}
.rite_cnt p {
	float: left;
	width: 100%;
	font-size: 16px;
}

.rite_cnt a {
	float: left;
	margin: 20px 0 0;
	background: #7fdd92;
	color: #000;
	padding: 10px 40px;
}
.footer {
	float: left;
	width: 100%;
	margin: 50px 0 0;
}
.top_footer {
	float: left;
	width: 100%;
}
.top_footer ul li {
	float: left;
	width: 33.33333%;
	padding: 20px 20px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.footer ul li:last-child {
	 
	border-right: 0px solid #ddd;
}
.footer_icon_cont {
	float: left;
	width: 75%;
	margin: 0 0 0 9px;
}

.footer_icon {
	float: left;
	width: auto;
}
.footer_icon_cont strong {
	color: #7fdd92;
	font-weight: 400;
	font-size: 20px;
}
.btm_footer {
	padding: 36px 0;
	float: left;
	width: 100%;
}
.btm_footer strong {
	float: left;
	width: 100%;
	margin: 0 0 10px;
}
.btm_footer ul {
	float: left;
	width: 100%;
}
.btm_footer ul li {
	float: left;
	width: 100%;
	line-height: 24px;
}
.btm_footer ul li a {
	color: #455;
}
.btm_footer ul.social li a {
	float: left;
	color: #f00;
	font-size: 28px;
}
.btm_footer ul.social li a {
	float: left;
	color: #4cd664;
	font-size: 28px;
}
.btm_footer ul.social li {
	float: left;
	width: auto;
	margin: 0 17px 0;
}
 
 .btm_footer.bts {
	padding: 13px 0;
}
.btm_footer.bts > div {
	border-top: 1px solid #ddd;
	padding-top: 16px;
}
.footer_rt {
	float: right;
	margin: -32px 0 -6px;
}
.filter_head h2 {
    font-size: 15px;
    color: #666;
    margin: 8px 0px;
}
.filter_head .filter_butoon {
    margin: 0px 0 0px 0;
	text-align:left;
}
.filter_head .filter_butoon > button {
    padding: 14px 14px;
    width: 19.7%;
}
.filter_head {
	padding: 20px 0px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 50px;
}
.right_side .col_5 {
    width: 33.33333%;
}

.carousel-inner img {
    width: 100%;
}
.reslut_page {
	background: #f1f2f2;
	margin: 50px 0px;
	float: left;
	width: 100%;
	padding: 0px 0px 0px 40px;
}
.reslut_page .rite_cnt {
    padding: 39px 0px;
}
.img_hgt img{
	height: 290px;
}
.img_hgt {
    padding-right: 0px;
}
.veritcle_list{
	
}
.veritcle_list h3{
	
}
.veritcle_list ul{
	
}
.veritcle_list ul li{
	
}
.acrndns {
    float: left;
    width: 100%;
    border-top: 1px solid #ddd;
}

.veritcle_list ul li {
    color: #58595b;
    font-size: 15px;
	margin: 5px 0px;
	line-height: 26px;
	cursor: pointer;
}
.veritcle_list ul li.active_li {
	color: #58595b;
	border-left: 5px solid #81dc95;
	padding-left: 8px;
}
.veritcle_list h3 {
	color: #58595b;
	font-size: 30px;
	margin: 0px;
	padding: 10px 0px;
}
.horizontal_list {
    padding: 50px 0px;
}
.veritcle_list {
    padding: 50px 0px;
}
.horizontal_list .panel-group .panel {
	margin-bottom: 0;
	border-radius: 0px;
	box-shadow: none;
	color: #545454;
	border: none;
	border-top: 1px solid #ddd;
}
.horizontal_list .panel-default > .panel-heading {
	color: #333;
	background-color: transparent;
	border: none;
	box-shadow: none;
}
.horizontal_list .panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
    color: inherit;
    color: #58595b;
    font-weight: 400;
    font-size: 18px;
}
.panel-body p {
	margin: 0 0 10px;
	font-size: 14px;
	color: #58595b;
	line-height: 25px;
}
.form_green {
	background: #81dc95;
	padding: 13px 15px;
	float: left;
	width: 100%;
}
.form_green select {
	-moz-appearance: none;
	border: navajowhite;
	border-radius: 0px;
	color:#545454;
	height: 30px;
}

.form_green input {
    border: none;
    border-radius: 0px;
	color:#545454;
	height: 30px;
}
.form_green a {
	background: #58595b;
	color: #fff;
	width: 100%;
	float: left;
	padding: 8px 13px;
}
.form_green .form-group {
    margin-bottom: 5px;
	position:relative;
}
.form_green .form-group img {
	position: absolute;
	right: 8px;
	top: 13px;
}
.form-control::-moz-placeholder {
    color: #545454;
    opacity: 1;
}
.comp_Left{
	
}
.comp_Left h3{
	
}
.comp_Left p{
	color: #58595b;
	line-height: 24px;
}.compa_head {
	float: left;
	width: 100%;
	padding: 40px 0px;
}
.comp_Left h4 {
	color: #81dc95;
	font-weight: 300;
}.comp_Left h3 {
	color: #58595b;
}
.icn_pic img {
	padding-top: 15px;
}
.text_icn h4{
	color:#58595b;
} 
.text_icn p{
	color:#58595b;
	line-height: 26px;
} 
.comp_right {
    float: left;
    width: 100%;
    padding: 20px 0px;
}
.step_wise{
	text-align:center;
}
.step_wise img{
	
}
.step_wise h3{
	color: #81dc95;
}
.step_wise p{
color:#fff;
}
.step_3 {
	float: left;
	width: 100%;
	padding: 50px 0px;
	background: url(../images/comp_back.png);
}
.video_blk h3{
	color:#58595b;
}
.video_blk {
	float: left;
	width: 100%;
	padding: 30px 0px;
}
.newslater {
	background: #58595b;
	padding: 50px 0px;
}
.newslater h3 {
    color: #81dc95;
    margin: 0px;
}
.newslater h4{
	color:#fff;
}
.Cadastrar {
	background: #fff;
	padding: 10px 45px;
	border-radius: 3px;
	color: #545458;
	margin-top: 12px;
	display: inline-block;
}
.stop_this{
		bottom:0 !important;
		right: -1px;
}
/*---------------media-----------------------*/


#video-landing {
	height: 500px;
  position: relative;
  overflow-y: hidden;
  color: white;
}

#video-landing video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: -200px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
}

#video-landing h1{
 	font-size: 3em; 
}

#section-two {
  height: 500px;
  padding: 20px;
  color: white;
  font-size: 2em;
  background: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS1h055m-v3rdWM5gEeief-XZ82I2pBa5eN1j7asLWxbREmK-VkldJenynluA') no-repeat center center;
  background-size: cover;
  
}

#sticky.stick{
    position: fixed;
    top: 0;
	width:400px;
    z-index: 10;
}

.customs_modal .modal-header {
	text-align: center;
}

.customs_modal .modal-header {
	padding: 15px;
	border-bottom: 0px solid #e5e5e5;
}
.customs_modal .modal-body > button {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 15px 0;
	font-size: 17px;
	color: #fff !important;
	 
	text-align: center;
}

.customs_modal .modal-body > button.fb

{
 background:#3b5998 url(../images/f.png) no-repeat left center;
	background-size: 15px;
background-position: 23px center;
}
.customs_modal .modal-body > button.g
{
 background:#dd4b39 url(../images/g.png) no-repeat left center;
	background-size: 28px;
background-position: 23px center;
}
.customs_modal  .modal-body > button.em
{
 background:#484848 url(../images/e.png) no-repeat left center;
	background-size: 34px;
background-position: 23px center;
}
.customs_modal .modal-dialog {
	width: 470px;
}
.customs_modal  .modal-body span {
	width: 100%;
	display: block;
	text-align: center;
	position: relative;
	padding: 10px 0;
}
.customs_modal  .modal-body span::after {
	height: 1px;
	width: 190px;
	right: 0;
	position: absolute;
	top: 0;
	content: "";
	background: #DDD;
	bottom: 0;
	margin: auto;
}
.customs_modal  .modal-body span:before {
	height: 1px;
	width: 190px;
	left: 0;
	position: absolute;
	top: 0;
	content: "";
	background: #DDD;
	bottom: 0;
	margin: auto;
}
.customs_modal .modal-body font {
	display: block;
	text-align: center;
	padding: 10px 0;
}
.customs_modal .close {
	background: #fff;
	width: 40px;
	box-shadow: 0 0 6px #888;
	padding: 7px 9px 8px 11px;
	display: inline-block;
	border-radius: 50px;
	height: 40px;
	margin-left:-40px;
}
.customs_modal .modal-body h3 {
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 30px;
	margin: 11px 0 19px;
}
.customs_modal .modal-body h3 {
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 30px;
	margin: 11px 0 19px;
}
.login_forms label {
	font-weight: 400;
}
.customs_modal .modal-body .login_forms font {
	display: inline-block;
	margin: 0px 0 0 6px;
}
.customs_modal .modal-body input[type="button"] {
	display: block;
	width: 100%;
	background: #7fdd92;
	border: none;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: 500;
	height: 50px;
	padding-top: 15px;
}
.form-group.Forgot a {
	color: #333;
	text-decoration: underline;
}
.form-group.Forgot {
	text-align: center;
	color: ;
}
.customs_modal .modal-body span.dplc::before,.customs_modal .modal-body span.dplc::after {
	 
	width: 140px;
	 
}
.login_forms .form-control {
	height: 51px;
}
.login_forms .form-group.em input {
	background-image: url(../images/e1.png);
	background-repeat: no-repeat;
	background-position: 97% center;
	background-size: 28px;
}
.login_forms .form-group.fn input {
	background-image: url(../images/us.png);
	background-repeat: no-repeat;
	background-position: 97% center;
	background-size: 35px;
}

.login_forms .form-group.ps1 input {
	background-image: url(../images/lock.png);
	background-repeat: no-repeat;
	background-position: 97% center;
	background-size: 28px;
}

.login_forms .form-group.ps input {
	background-image: url(../images/p.png);
	background-repeat: no-repeat;
	background-position: 97% center;
	background-size: 28px;
}

.customs_modal .modal-body > .em {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 15px 0;
	font-size: 17px;
	color: #fff !important;
	text-align: center;
}
.customs_modal .modal-body > .em {
	background: #484848 url(../images/e.png) no-repeat left center;
	background-size: 34px;
	background-position: 23px center;
}
#signup1.modal {
	position: absolute;
	min-height: 1800px;
}

#signup1.customs_modal .modal-header {
	padding: 15px;
	border-bottom: 0px solid #e5e5e5;
	float: left;
	width: 100%;
	padding: 20px 10px;
}
#signup1.customs_modal .modal-body > button {
	float: left;
	width: 100%;
}
#signup1.customs_modal .modal-body span {
	width: 100%;
	float: left;
}
#signup1 .login_forms {
	float: left;
	width: 100%;
}
#signup1 .form-group {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
.form-group.sl select.days {
	 
	margin: 0 5%;
}
.form-group.sl select {
	float: left;
	width: 30%;
	padding: 11px 13px;
	border-radius: 4px;
	border: 1px solid #ddd;
}
.form-group.sl select {
	float: left;
	width: 30%;
}
.form-group.sl small {
	float: left;
	width: 100%;
	margin: 0 0 6px;
}
.form-group.sl label {
	float: left;
	width: 100%;
}
.form-group.like input {
	float: left;
	width: auto;
}
.customs_modal .modal-body .login_forms .form-group.like font {
	text-align: left;
	float: left;
	width: auto;
	margin: -26px 0 0 24px;
}